<div class="container">
    <h1>Index</h1>
    <hr>

    <?php
    echo 'Conteudo';
    ?>
    <br>
    <button class="btn btn-success">Bootstrap  <i class="bi bi-check-lg"></i></button>
    <button class="btn btn-info text-light">Font Awesome  <i class="fa-solid fa-check"></i></button>
     
</div>
